.button {
    display: inline-block;
    background-color: #e46613;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;   
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-size: 20px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #da251d;
    transform: scale(1.08);
    transition: 100ms linear;
}


.button.-full {
    width: 100%;
}

.button.-full:hover {
    transform: scale(1.01);
}