.main-title {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #e46613;
    text-shadow: 04px 04px 0 black;
}


.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align:center;
}